 .login-pf body {
   border-top:  transparent;
   background: transparent;
   background-image: none;
   background-repeat: no-repeat;
 }
 
 .hidden {
   visibility: hidden
 }

 #kc-logo-wrapper {
   background-image: none;
   background-repeat: no-repeat;
   visibility: hidden;
 }

 #kc-content #kc-content-wrapper #kc-form {
    width: 100%;
    height: 100%;
 }
