<div id="content-area" class="col-sm-12" role="main">
    <div class="error-container">
        <h2>Forbidden</h2>
        <p class="instruction">
          <h4>To be able to use the Aerobase Server you need to create an Application and at least one Variant</h4>
          <span>The wizard is launched when clicking the Create Application button on the <a id="gotopush" href="/unifiedpush-server/">APPLICATIONS</a> page</span>
        </p>
        <a href="#" class="link-right">Go to the home page &raquo;</a>
    </div>
</div>
